{% extends 'base.html' %}
{% block title %}JokeBot | Save Joke{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
    Knock Knock
  <div class="form-group">
    <label for="joke1">Who's there?</label>
    <input type="text" class="form-control" id="joke1" name="whos_there">
  </div>
  <div class="form-group">
    <label for="response1">Response to 'who's there' who?</label>
    <input type="text" class="form-control" id="response1" name="response">
  </div>
  <button type="submit" class="btn btn-primary">Submit Joke</button>
</form>


{% endblock %}